@import url("https://fonts.googleapis.com/css?family=Lato:300, 400");
* {
  box-sizing: border-box; }

.no-a {
  color: initial;
  text-decoration: initial; }
  .no-a:visited {
    color: initial; }
  .no-a:focus {
    outline: none; }

body {
  margin: 0;
  background: #454648;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Lato, sans-serif;
  font-weight: 400; }

main {
  flex: 1 0 auto; }

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 20px;
  font-weight: 300; }
  footer .author {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed #0df3ae; }
    footer .author:visited {
      color: white; }
  footer .tos {
    display: block;
    margin-bottom: 5px; }

a {
  color: #BBBBBB; }
  a:visited {
    color: #BBBBBB; }

.section, .viewer-container, .registration-form, .game-manager, .err, .game-edit-list, .add-game, section {
  width: 100%;
  background: rgba(255, 255, 255, 0.13);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 3em; }

.lf-wrap {
  white-space: pre-wrap; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 800px;
  margin: 0 auto; }

h1 {
  font-weight: 300;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative; }
  h1:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 1px;
    background: #FFFFFF;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    width: 0;
    bottom: 0; }
  h1:hover:after {
    width: 100%;
    left: 0; }

h2 {
  font-weight: 300;
  color: #D8D8D8; }

.game-card {
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  background: white;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.2s; }
  .game-card:hover {
    box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.5); }
  .game-card.private {
    background: #c5c5c5;
    box-shadow: inset 0 0 20px -4px #ff4900; }
  .game-card .title {
    font-size: 1.4em;
    display: block;
    margin-bottom: 5px; }
  .game-card .organisation {
    font-size: 0.9em;
    color: #272727;
    display: block; }
  .game-card .authors {
    font-size: 0.9em;
    color: #161616;
    font-style: italic;
    display: block; }
  .game-card .info {
    display: inline-block; }
  .game-card .private-label {
    color: #ff4900;
    float: right;
    margin: 0 1em; }
  .game-card .date {
    float: right; }
  .game-card .description {
    color: #545454;
    white-space: pre-wrap;
    max-height: 1.2em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; }

/* Login Bar */
.login-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%; }
  .login-bar.logged-in {
    justify-content: space-between; }
  .login-bar .button {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition: color 0.15s; }
  .login-bar .button:hover {
    color: #969696; }
  .login-bar input {
    margin: 6px;
    padding: 0 6px; }
  .login-bar .error {
    margin: 10px;
    color: #f3a37c; }
  .login-bar .user-info {
    cursor: default; }
    .login-bar .user-info .user-name {
      display: block; }

/* Game List */
.game-list {
  width: 100%; }

/* Viewer */
.viewer-container {
  position: relative; }
  .viewer-container .viewer {
    border: none;
    box-shadow: 5px 5px 7px 3px rgba(0, 0, 0, 0.12);
    transform-origin: 0 0;
    margin: 2.5em auto;
    display: block; }
  .viewer-container .close {
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    top: 12px;
    right: 12px; }

/* Comments */
.comment-submit {
  background: #f1f1f1;
  padding: 10px;
  margin-top: 2em; }
  .comment-submit .title {
    display: block;
    color: black;
    font-size: 1.2em;
    margin: -10px -10px 10px;
    background: #e0e0e0;
    padding: 10px; }
  .comment-submit textarea {
    width: 100%;
    resize: none;
    height: 10em;
    margin-bottom: 0.5em; }
  .comment-submit .input-label {
    color: black;
    margin-right: 0.5em; }
  .comment-submit input {
    margin-bottom: 0.5em; }
  .comment-submit .info {
    color: black; }
    .comment-submit .info.error {
      color: #ff4900; }
  .comment-submit button {
    float: right;
    right: 10px;
    padding: 2px 15px;
    border: 1px solid grey;
    background: white; }

.comment-list {
  margin-top: 1em; }

.comment {
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background: #e2e2e2;
  color: black; }
  .comment.hidden {
    background: #b3b3b3;
    box-shadow: inset 0 0 30px -5px black; }
  .comment.self {
    border-top: 7px solid rgba(0, 0, 0, 0.73); }
  .comment .user-info {
    display: inline-block; }
    .comment .user-info .decorate.admin::after {
      color: #000000;
      content: "> Admin <";
      padding: 3px;
      text-shadow: 1px 1px 0px #0df3ae;
      font-family: monospace;
      font-weight: bold;
      font-size: 1.2em; }
    .comment .user-info .name {
      margin-right: 1ch;
      font-weight: bold; }
    .comment .user-info .organisation {
      font-size: 0.8em; }
      .comment .user-info .organisation[data-org="CerebralFix"] {
        font-weight: bold;
        color: #F58835; }
  .comment .hidden-label {
    float: right;
    margin: 0 1em;
    color: #ff4900; }
  .comment .date {
    float: right; }
  .comment .body {
    color: #545454; }
  .comment[data-type="PUBLIC"] .name {
    font-weight: normal; }
  .comment[data-type="PUBLIC"] .body {
    margin: 0.5em auto; }

.votes {
  display: inline-block; }
  .votes .star {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0.2em;
    display: inline-block;
    position: relative; }
    .votes .star.selectable {
      cursor: pointer; }
    .votes .star #fill, .votes .star #selected-border {
      display: none; }
    .votes .star.filled #fill {
      display: initial; }
    .votes .star.selected #selected-border {
      display: initial; }

.registration-form input {
  display: block;
  margin: 11px 0;
  padding: 5px 6px;
  width: 60ch;
  max-width: 100%; }
  .registration-form input[type="checkbox"] {
    display: inline;
    width: initial;
    margin: 0;
    margin-left: 1.5ch; }
.registration-form .error {
  margin: 10px;
  color: #f3a37c;
  display: block;
  white-space: pre-line; }

button {
  padding: 6px 13px;
  border: none;
  background: white;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.56);
  cursor: pointer;
  transition: box-shadow 0.1s;
  display: block; }
  button:hover {
    box-shadow: 4px 4px 10px 0 black; }
  button:active {
    margin: 0;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.56); }

.help {
  white-space: pre-wrap;
  background: rgba(255, 255, 255, 0.09);
  padding: 11px;
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.48);
  display: inline-block; }

.game-manager input {
  margin: 11px 0 20px;
  padding: 5px 6px;
  width: 60ch;
  max-width: 100%;
  display: block;
  border: none; }
  .game-manager input[type="checkbox"] {
    width: initial;
    margin: 0;
    margin-left: 1.5ch;
    display: inline-block; }
  .game-manager input[type="file"] {
    padding: 0;
    width: initial;
    margin-bottom: 5px; }
.game-manager textarea {
  width: 60ch;
  margin: 10px 0 20px;
  padding: 5px 6px;
  height: 5em;
  display: block;
  border: none; }
  .game-manager textarea[readonly] {
    background: #dedede; }
.game-manager hr {
  margin: 1.5em 0;
  border: solid 1px #6f6f6f; }
.game-manager .input-description {
  display: block; }
  .game-manager .input-description.inline {
    display: inline-block; }
.game-manager .publicity-status.public {
  color: #ADFF2F; }
.game-manager .publicity-status.private {
  color: #FFA500; }
.game-manager .publicity-status.change {
  color: #f3a37c;
  cursor: pointer;
  text-decoration: underline; }
.game-manager .upload-info {
  display: inline-block;
  margin-bottom: 20px; }
.game-manager .info-info {
  display: block;
  margin-bottom: 10px; }

.err .back-link {
  cursor: pointer;
  color: #cacaca;
  text-decoration: underline; }

.relationship-list th {
  font-size: 1.2em; }

.relationship-list td, .relationship-list th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  padding: 10px;
  text-align: left; }

.user-game-relationships {
  margin-bottom: 1.5em; }

.relationship-list {
  border: 1px solid white;
  border-spacing: 5px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 11px; }
  .relationship-list th {
    font-size: 1.2em;
    border-bottom-color: white; }
  .relationship-list td, .relationship-list th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    text-align: left; }
  .relationship-list tr:last-child td {
    border-bottom-color: white; }

.remove-user {
  cursor: pointer;
  text-decoration: underline;
  color: #f3a37c; }

.game-edit-list .list-item {
  margin: 0.7em 0;
  cursor: pointer; }
  .game-edit-list .list-item:hover {
    text-decoration: underline; }

.add-game input {
  margin: 11px 0 20px;
  padding: 5px 6px;
  width: 60ch;
  max-width: 100%;
  display: block;
  border: none; }
  .add-game input[type="checkbox"] {
    width: initial;
    margin: 0;
    margin-left: 1.5ch; }
  .add-game input[type="file"] {
    padding: 0;
    width: initial;
    margin-bottom: 5px; }
.add-game textarea {
  width: 60ch;
  margin: 10px 0 20px;
  padding: 5px 6px;
  height: 5em;
  display: block;
  border: none; }
.add-game .input-description {
  display: block; }

.game-info {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 2px; }
  .game-info .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .game-info .top-bar .title {
      display: block;
      font-size: 1.3em;
      margin: 0 0 3px 0;
      color: black;
      font-weight: normal; }
    .game-info .top-bar .attribution {
      font-weight: 300;
      font-style: italic; }
    .game-info .top-bar .votes {
      flex: 0 0 12em;
      align-self: end; }
  .game-info hr {
    border: none;
    border-bottom: 1px solid #9c9c9c;
    margin: 10px 0; }
  .game-info .description {
    white-space: pre-wrap;
    color: #3e3e3e; }

/*# sourceMappingURL=home.css.map */
