@import url('https://fonts.googleapis.com/css?family=Lato:300, 400');

$error_colour: #f3a37c;
$error_colour_dark: #ff4900;
$admin_theme: #0df3ae;
$soft-black: #3e3e3e;

// Static HTML
* {
  box-sizing: border-box;
}

.no-a {
  color: initial;
  text-decoration: initial;

  &:visited {
    color: initial;
  }

  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  background: #454648;
  color: white;

  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: Lato, sans-serif;
  font-weight: 400;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 20px;
  font-weight: 300;

  .author {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed $admin_theme;

    &:visited {
      color: white;
    }
  }

  .tos {
    display: block;
    margin-bottom: 5px;
  }
}

a {
  color: #BBBBBB;

  &:visited {
    color: #BBBBBB;
  }
}

// Preact Generated HTML

.section, section {
  width: 100%;
  background: rgba(255, 255, 255, 0.13);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 3em;
}

.lf-wrap {
  white-space: pre-wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);

  cursor: pointer;

  position: relative;

  &:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 1px;
    background: #FFFFFF;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    width: 0;
    bottom: 0;
  }

  &:hover:after {
    width: 100%;
    left:0;
  }
}

h2 {
  font-weight: 300;
  color: #D8D8D8;
}

.game-card {
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  width: 100%;

  background: white;
  color: black;
  cursor: pointer;

  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  }

  &.private {
    background: #c5c5c5;
    box-shadow: inset 0 0 20px -4px $error_colour_dark;
  }

  .title {
    font-size: 1.4em;
    display: block;
    margin-bottom: 5px;
  }

  .organisation {
    font-size: 0.9em;
    color: #272727;
    display: block;
  }

  .authors {
    font-size: 0.9em;
    color: #161616;
    font-style: italic;
    display: block;
  }

  .info {
    display: inline-block;
  }

  .private-label {
    color: $error_colour_dark;

    float: right;
    margin: 0 1em;
  }

  .date {
    float: right;
  }

  .description {
    color: #545454;
    white-space: pre-wrap;

    max-height: 1.2em;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    overflow: hidden;
  }
}

/* Login Bar */

.login-bar {
  display: flex;
  justify-content: flex-end;

  width: 100%;

  &.logged-in {
    justify-content: space-between;
  }

  .button {
    padding: 10px;
    display: inline-block;
    cursor: pointer;

    transition: color 0.15s;
  }

  .button:hover {
    color: #969696;
  }

  input {
    margin: 6px;
    padding: 0 6px;
  }

  .error {
    margin: 10px;
    color: $error_colour;
  }

  .user-info {
    cursor: default;

    .user-name {
      display: block;
    }
  }
}

/* Game List */
.game-list {
  width: 100%;
}

/* Viewer */

.viewer-container {
  @extend .section;

  position: relative;

  .viewer {
    border: none;
    box-shadow: 5px 5px 7px 3px rgba(0, 0, 0, 0.12);

    transform-origin: 0 0;
    margin: 2.5em auto;
    display: block;
  }

  .close {
    cursor: pointer;
    text-decoration: underline;

    position: absolute;
    top: 12px;
    right: 12px;
  }
}

/* Comments */

.comment-submit {
  background: #f1f1f1;
  padding: 10px;
  margin-top: 2em;

  .title {
    display: block;
    color: black;
    font-size: 1.2em;
    margin: -10px -10px 10px;
    background: #e0e0e0;
    padding: 10px;
  }

  textarea {
    width: 100%;
    resize: none;
    height: 10em;
    margin-bottom: 0.5em;
  }

  .input-label {
    color: black;
    margin-right: 0.5em
  }

  input {
    margin-bottom: 0.5em;
  }

  .info {
    color: black;

    &.error {
      color: $error_colour_dark;
    }
  }

  button {
    float: right;
    right: 10px;
    padding: 2px 15px;

    border: 1px solid grey;
    background: white;
  }
}

.comment-list {
  margin-top: 1em;
}

.comment {
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
  width: 100%;

  background: #e2e2e2;
  color: black;

  &.hidden {
    background: #b3b3b3;
    box-shadow: inset 0 0 30px -5px black;
  }

  &.self {
    border-top: 7px solid rgba(0, 0, 0, 0.73);
  }

  .user-info {
    display: inline-block;

    .decorate {
      &.admin::after {
        color: #000000;
        content: "> Admin <";
        padding: 3px;
        text-shadow: 1px 1px 0px $admin_theme;
        font-family: monospace;
        font-weight: bold;
        font-size: 1.2em;
      }
    }

    .name {
      margin-right: 1ch;
      font-weight: bold;
    }

    .organisation {
      font-size: 0.8em;

      &[data-org="CerebralFix"] {
        font-weight: bold;
        color: #F58835;
      }
    }
  }

  .hidden-label {
    float: right;
    margin: 0 1em;
    color: $error_colour_dark;
  }

  .date {
    float: right;
  }

  .body {
    color: #545454;
  }

  &[data-type="PUBLIC"] {
    .name {
      font-weight: normal;
    }

    .body {
      margin: 0.5em auto;
    }
  }
}


.votes {
  display: inline-block;

  .star {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0.2em;

    display: inline-block;
    position: relative;

    &.selectable {
      cursor: pointer;
    }

    #fill, #selected-border {
      display: none;
    }

    &.filled #fill {
      display: initial;
    }

    &.selected #selected-border {
      display: initial;
    }
  }
}

.registration-form {
  @extend .section;

  input {
    display: block;
    margin: 11px 0;
    padding: 5px 6px;
    width: 60ch;
    max-width: 100%;

    &[type="checkbox"] {
      display: inline;
      width: initial;
      margin: 0;
      margin-left: 1.5ch;
    }
  }

  .error {
    margin: 10px;
    color: $error_colour;
    display: block;
    white-space: pre-line;
  }
}

button {
  padding: 6px 13px;
  border: none;
  background: white;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.56);
  cursor: pointer;
  transition: box-shadow 0.1s;

  display: block;

  &:hover {
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 1);
  }

  &:active {
    margin: 0;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.56);
  }
}
.help {
  white-space: pre-wrap;
  background: rgba(255, 255, 255, 0.09);
  padding: 11px;
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.48);

  display: inline-block;
}

.game-manager {
  @extend .section;

  input {
    margin: 11px 0 20px;
    padding: 5px 6px;
    width: 60ch;
    max-width: 100%;

    display: block;
    border: none;

    &[type="checkbox"] {
      width: initial;
      margin: 0;
      margin-left: 1.5ch;
      display: inline-block;
    }

    &[type="file"] {
      padding: 0;
      width: initial;
      margin-bottom: 5px;
    }
  }

  textarea {
    width: 60ch;
    margin: 10px 0 20px;
    padding: 5px 6px;
    height: 5em;

    display: block;
    border: none;

    &[readonly] {
      background: #dedede;
    }
  }

  hr {
    margin: 1.5em 0;
    border: solid 1px #6f6f6f;
  }

  .input-description {
    display: block;

    &.inline {
      display: inline-block;
    }
  }

  .publicity-status {
    &.public {
      color: #ADFF2F;
    }

    &.private {
      color: #FFA500;
    }

    &.change {
      color: $error_colour;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .upload-info {
    display: inline-block;
    margin-bottom: 20px;
  }

  .info-info {
    display: block;
    margin-bottom: 10px;
  }
}

.err {
  @extend .section;

  .back-link {
    cursor: pointer;
    color: #cacaca;
    text-decoration: underline;
  }
}

.relationship-list th {
  font-size: 1.2em;
}

.relationship-list td, .relationship-list th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  padding: 10px;
  text-align: left;
}

.user-game-relationships {
  margin-bottom: 1.5em;
}

.relationship-list {
  border: 1px solid white;
  border-spacing: 5px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1);

  margin-top: 11px;

  th {
    font-size: 1.2em;
    border-bottom-color: rgb(255, 255, 255);
  }

  td, th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    text-align: left;
  }

  tr:last-child td {
    border-bottom-color: rgb(255, 255, 255);
  }
}

.remove-user {
  cursor: pointer;
  text-decoration: underline;
  color: $error_colour;
}

.game-edit-list {
  @extend .section;

  .list-item {
    margin: 0.7em 0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.add-game {
  @extend .section;

  input {
    margin: 11px 0 20px;
    padding: 5px 6px;
    width: 60ch;
    max-width: 100%;

    display: block;
    border: none;

    &[type="checkbox"] {
      width: initial;
      margin: 0;
      margin-left: 1.5ch;
    }

    &[type="file"] {
      padding: 0;
      width: initial;
      margin-bottom: 5px;
    }
  }

  textarea {
    width: 60ch;
    margin: 10px 0 20px;
    padding: 5px 6px;
    height: 5em;

    display: block;
    border: none;
  }

  .input-description {
    display: block;
  }
}

.game-info {
  background: white;
  color: black;

  padding: 10px;
  border-radius: 2px;

  .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      display: block;
      font-size: 1.3em;
      margin: 0 0 3px 0;
      color: black;
      font-weight: normal;
    }

    .attribution {
      font-weight: 300;
      font-style: italic;
    }

    .votes {
      flex: 0 0 12em;
      align-self: end;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid #9c9c9c;
    margin: 10px 0;
  }

  .description {
    white-space: pre-wrap;
    color: $soft-black;
  }
}