@font-face {
  font-family: PressStart2P;
  src: url("/fonts/PressStart2P.ttf");
}

#ssa_viewer_init {
  cursor: default;

  * {
    box-sizing: border-box;
  }

  margin: 0;
  text-align: center;
  font-family: sans-serif;

  background: #FFFFFF;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-family: PressStart2P, monospace;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.show-error {
      #progress-bar, #progress-text {
        display: none;
      }

      .error-container {
        display: inline-block;
      }
    }
  }

  .error-container {
    display: none;
    margin: 0 auto;
    padding: 1em 2em;

    color: white;
    font-weight: bold;
    background: #fd8181;

    .error-title {
      display: block;
      margin-bottom: 0.7em;
      font-size: 0.8em;
      font-weight: normal;
      padding-bottom: 0.3em;
      border-bottom: 1px solid white;
    }

    #error {
      white-space: pre-line;
    }
  }

  #progress-bar {
    margin: 2em 10% 0.7em;
    background-color: #E2E2E2;

    .bar-container {
      overflow: hidden;
      height: 20px;

      #bar {
        height: 100%;
        width: 0%;

        background-color: #5a5a5a;
        transition: width 0.4s ease;
      }
    }
  }
}