@font-face {
  font-family: PressStart2P;
  src: url("/fonts/PressStart2P.ttf"); }
#ssa_viewer_init {
  cursor: default;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  background: #FFFFFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #ssa_viewer_init * {
    box-sizing: border-box; }
  #ssa_viewer_init h1 {
    font-family: PressStart2P, monospace; }
  #ssa_viewer_init main {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #ssa_viewer_init main.show-error #progress-bar, #ssa_viewer_init main.show-error #progress-text {
      display: none; }
    #ssa_viewer_init main.show-error .error-container {
      display: inline-block; }
  #ssa_viewer_init .error-container {
    display: none;
    margin: 0 auto;
    padding: 1em 2em;
    color: white;
    font-weight: bold;
    background: #fd8181; }
    #ssa_viewer_init .error-container .error-title {
      display: block;
      margin-bottom: 0.7em;
      font-size: 0.8em;
      font-weight: normal;
      padding-bottom: 0.3em;
      border-bottom: 1px solid white; }
    #ssa_viewer_init .error-container #error {
      white-space: pre-line; }
  #ssa_viewer_init #progress-bar {
    margin: 2em 10% 0.7em;
    background-color: #E2E2E2; }
    #ssa_viewer_init #progress-bar .bar-container {
      overflow: hidden;
      height: 20px; }
      #ssa_viewer_init #progress-bar .bar-container #bar {
        height: 100%;
        width: 0%;
        background-color: #5a5a5a;
        transition: width 0.4s ease; }

/*# sourceMappingURL=viewer.css.map */
